body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    length: block;
    background-color: #3498db;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}


#Seller_Titel {
    text-align: center;
    margin-top: 20px;
}

#Verus_Products {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.Verus_handy {
    text-align: left;
    flex: 1;
    margin: 10px 10px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.Verus_handy:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.Verus_handy h3 {
    margin-top: 0;
}f

.Verus_handy p {
    margin: 10px 0 0;
}

.best_seller {
    text-align: left;
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.best_seller:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.best_seller h3 {
    margin-top: 0;
}

.best_seller h2 {
    text-align: center;
}

.best_seller p {
    margin: 10px 0 0;
}

#product-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin:  auto;
  margin-top: 20px;
}

#product-details {
    text-align: left;
    margin-top: 20px;
    width: 90%;
    max-width: 8000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.btn_NoText {
    flex: 1;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0.7em 1.2em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    text-align: center;
    margin: 0.3em;
    min-width: 7em;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.btn {
    flex: 1;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0.7em 1.2em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    text-align: center;
    margin: 0.3em;
    min-width: 7em;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.btn::after {
    content: attr(data-text);
    position: absolute;
    bottom: 10px;
    left: 60%;
    transform: translateX(20%);
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btn:hover::after {
    opacity: 1;
}
.btn_details {
   flex: 1;
    display: inline-block;
    background-color: white;
    color: black;
    background-color: #f9f9f9;
    padding: 0.7em 1.2em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    text-align: center;
    margin: 0.3em;
    min-width: 20em;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}
.btn_Versus {
    flex: 1;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0.7em 1.2em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    text-align: center;
    margin: 0.3em;
    min-width: 35em;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.btn_Versus::after {
    content: attr(data-text);
    position: absolute;
    bottom: 10px;
    left: 70%;
    transform: translateX(20%);
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btn_Versus:hover::after {
    opacity: 1;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 0.7em 1.2em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    text-align: center;
    margin: 0.3em;
    min-width: 7em;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 0.3em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}




.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: red;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#uberUnsTitel {
text-align: center;
}

#uberUnsText {
    margin: 20px;
    padding: 20px;
}

#Kontakt_Titel {
text-align: center;
}

#contact-form-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#contact-form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#contact-form label {
    display: block;
    margin: 10px 0 5px;
}

#contact-form input, #contact-form select, #contact-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact-form button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #2980b9;
}

#Newsletter_Titel {
    text-align: center;
    margin-top: 20px;
}

#newsletter-Text {
    text-align: center;
    margin: 20px;
    padding: 20px;
}



#newsletter-form-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#newsletter-form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#newsletter-form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

#newsletter-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#newsletter-form button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#newsletter-form button:hover {
    background-color: #2980b9;
}


#Warenkorb_Titel {
    text-align: center;
    margin-top: 20px;
}

#warenkorb-Text {
    margin: 20px;
    padding: 20px;
}

#warenkorb-form-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#warenkorb-form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#warenkorb-form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

#warenkorb-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#warenkorb-form button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#warenkorb-form button:hover {
    background-color: #2980b9;
}





@media only screen and (min-width: 300px) and (max-width: 480px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .top-bar {
        background-color: #3498db;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        color: white;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }

    #Seller_Titel {
        text-align: center;
        margin-top: 20px;
    }

    #Verus_Products {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .Verus_handy {
        text-align: left;
        flex: 1;
        margin: 10px 10px;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        transition: all 0.3s ease;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .Verus_handy:hover {
        transform: translateY(-5px);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .Verus_handy h3 {
        margin-top: 0;
    }

    .Verus_handy p {
        margin: 10px 0 0;
    }

    .best_seller {
        text-align: left;
        flex: 1;
        margin: 0 10px;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: white;
        transition: all 0.3s ease;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .best_seller:hover {
        transform: translateY(-5px);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .best_seller h3 {
        margin-top: 0;
    }

    .best_seller h2 {
        text-align: center;
    }

    .best_seller p {
        margin: 10px 0 0;
    }

    #product-container {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .product-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    #product-details {
        text-align: left;
        margin-top: 20px;
        width: 90%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #ddd;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .btn_NoText, .btn, .btn_details, .btn_Versus {
        flex: 1;
        display: inline-block;
        background-color: white;
        color: black;
        padding: 0.7em 1.2em;
        font-size: 1em;
        border: none;
        cursor: pointer;
        border-radius: 0.3em;
        text-align: center;
        margin: 0.3em;
        box-sizing: border-box;
        position: relative;
        text-decoration: none;
        overflow: hidden;
    }

    .btn {
        min-width: 7em;
    }

    .btn_details {
        background-color: #f9f9f9;
        min-width: 20em;
    }

    .btn_Versus {
        min-width: 35em;
    }

    .btn::after, .btn_Versus::after {
        content: attr(data-text);
        position: absolute;
        bottom: 10px;
        left: 60%;
        transform: translateX(20%);
        background-color: #333;
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 0.8em;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .btn:hover::after, .btn_Versus:hover::after {
        opacity: 1;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        padding: 0.7em 1.2em;
        font-size: 1em;
        border: none;
        cursor: pointer;
        border-radius: 0.3em;
        text-align: center;
        margin: 0.3em;
        min-width: 7em;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 0.3em;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Slideshow spezifisches CSS */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: red;
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    #uberUnsTitel {
        text-align: center;
    }

    #uberUnsText {
        margin: 20px;
        padding: 20px;
    }

    #Kontakt_Titel {
        text-align: center;
    }

    #contact-form-container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    #contact-form {
        width: 100%;
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    #contact-form label {
        display: block;
        margin: 10px 0 5px;
    }

    #contact-form input, #contact-form select, #contact-form textarea {
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    #contact-form button {
        background-color: #3498db;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #contact-form button:hover {
        background-color: #2980b9;
    }

    #Newsletter_Titel {
        text-align: center;
        margin-top: 20px;
    }

    #newsletter-Text {
        text-align: center;
        margin: 20px;
        padding: 20px;
    }

    #newsletter-form-container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    #newsletter-form {
        width: 100%;
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    #newsletter-form label {
        display: block;
        margin: 10px 0 5px;
        text-align: left;
    }

    #newsletter-form input {
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    #newsletter-form button {
        background-color: #3498db;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #newsletter-form button:hover {
        background-color: #2980b9;
    }

    #Warenkorb_Titel {
        text-align: center;
        margin-top: 20px;
    }

    #warenkorb-Text {
        margin: 20px;
        padding: 20px;
    }

    #warenkorb-form-container {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    #warenkorb-form {
        width: 100%;
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    #warenkorb-form label {
        display: block;
        margin: 10px 0 5px;
        text-align: left;
    }

    #warenkorb-form input {
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    #warenkorb-form button {
        background-color: #3498db;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #warenkorb-form button:hover {
        background-color: #2980b9;
    }
}}






